<a href="https://colab.research.google.com/github/arthaAgastya/Data-Science-Fundamental/blob/main/Bekerja_dengan_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Membuat Dictionary
informasi_person = {
    "nama": "John",
    "usia": 25,
    "kota": "New York",
    "negara": "USA",
    "kemampuan": ["Python", "JavaScript", "Analisis Data"]
}
print(informasi_person)

{'nama': 'John', 'usia': 25, 'kota': 'New York', 'negara': 'USA', 'kemampuan': ['Python', 'JavaScript', 'Analisis Data']}

In [2]:
# Mengakses Nilai dalam Dictionary
print(informasi_person["nama"])  # Mengakses nilai menggunakan kunci

John

In [3]:
# Membuat Dictionary Contoh
inventaris_mobil = {
    "Toyota": 10,
    "Honda": 5,
    "Ford": 3,
    "Chevrolet": 7,
    "BMW": 2,
    "Mercedes-Benz": 4
}
print(inventaris_mobil)

{'Toyota': 10, 'Honda': 5, 'Ford': 3, 'Chevrolet': 7, 'BMW': 2, 'Mercedes-Benz': 4}

In [4]:
# Mengakses Nilai dalam Dictionary
print(inventaris_mobil['Toyota'])  # Mengakses nilai menggunakan kunci

10

In [5]:
# Mendapatkan semua kunci dalam dictionary
print(inventaris_mobil.keys())

dict_keys(['Toyota', 'Honda', 'Ford', 'Chevrolet', 'BMW', 'Mercedes-Benz'])

In [6]:
# Mendapatkan semua nilai dalam dictionary
print(inventaris_mobil.values())

dict_values([10, 5, 3, 7, 2, 4])

In [7]:
# Menambahkan Entri ke dalam Dictionary
inventaris_mobil['Lexus'] = 6
print(inventaris_mobil)

{'Toyota': 10, 'Honda': 5, 'Ford': 3, 'Chevrolet': 7, 'BMW': 2, 'Mercedes-Benz': 4, 'Lexus': 6}

In [8]:
# Menghapus Entri dari Dictionary
del inventaris_mobil['Ford']
del inventaris_mobil['BMW']
print(inventaris_mobil)

{'Toyota': 10, 'Honda': 5, 'Chevrolet': 7, 'Mercedes-Benz': 4, 'Lexus': 6}

In [9]:
# Memverifikasi Kehadiran Kunci dalam Dictionary
print('Honda' in inventaris_mobil)

True

In [10]:
# Kuis tentang Dictionary

# Dictionary Contoh untuk Kuis
penulis_buku = {
    "The Great Gatsby": "F. Scott Fitzgerald",
    "To Kill a Mockingbird": "Harper Lee",
    "1984": "George Orwell",
    "Pride and Prejudice": "Jane Austen",
    "The Catcher in the Rye": "J.D. Salinger"
}
print(penulis_buku)

{'The Great Gatsby': 'F. Scott Fitzgerald', 'To Kill a Mockingbird': 'Harper Lee', '1984': 'George Orwell', 'Pride and Prejudice': 'Jane Austen', 'The Catcher in the Rye': 'J.D. Salinger'}

In [ ]:
# Pertanyaan Kuis: Apa kunci dalam dictionary penulis_buku?

<details><summary>Klik untuk Solusi</summary>

```python
print(penulis_buku.keys())

```

</details>

In [ ]:
# Pertanyaan Kuis: Apa nilai dalam dictionary penulis_buku?

<details><summary>Klik untuk Solusi</summary>

```python
print(penulis_buku.values())

```

</details>

In [13]:
# Contoh Lain dengan Dictionary

# Nilai Ujian Siswa
nilai_ujian = {
    'John': 85,
    'Emily': 92,
    'Michael': 78,
    'Sophia': 95,
    'Daniel': 88
}
print(nilai_ujian)

{'John': 85, 'Emily': 92, 'Michael': 78, 'Sophia': 95, 'Daniel': 88}

In [14]:
# Menemukan Nilai Ujian Siswa
print(nilai_ujian['Sophia'])

95

In [15]:
# Menemukan Nama-nama Siswa menggunakan keys()
print(nilai_ujian.keys())

dict_keys(['John', 'Emily', 'Michael', 'Sophia', 'Daniel'])

In [16]:
# Menemukan Nilai Ujian menggunakan values()
print(nilai_ujian.values())

dict_values([85, 92, 78, 95, 88])