<a href="https://colab.research.google.com/github/arthaAgastya/Data-Science-Fundamental/blob/main/Bekerja_dengan_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Buat sebuah list
L = ["Sang Kuriang", 10.1, 1982]
print(L)

['Sang Kuriang', 10.1, 1982]

In [2]:
# Cetak elemen pada setiap indeks
print('elemen yang sama menggunakan indeks negatif dan positif:\n Positif:', L[0],
'\n Negatif:', L[-3])

elemen yang sama menggunakan indeks negatif dan positif:
 Positif: Sang Kuriang
 Negatif: Sang Kuriang

In [3]:
print('elemen yang sama menggunakan indeks negatif dan positif:\n Positif:', L[1],
'\n Negatif:', L[-2])

elemen yang sama menggunakan indeks negatif dan positif:
 Positif: 10.1
 Negatif: 10.1

In [4]:
print('elemen yang sama menggunakan indeks negatif dan positif:\n Positif:', L[2],
'\n Negatif:', L[-1])

elemen yang sama menggunakan indeks negatif dan positif:
 Positif: 1982
 Negatif: 1982

In [5]:
# Contoh List
daftar_contoh = ["Sang Kuriang", 10.1, 1982, [1, 2], ("A", 1)]
print(daftar_contoh)

['Sang Kuriang', 10.1, 1982, [1, 2], ('A', 1)]

In [6]:
# Slicing List
L = ["Sang Kuriang", 10.1, 1982, "MJ", 1]
print(L[3:5])

['MJ', 1]

In [7]:
# Gunakan extend untuk menambahkan elemen ke dalam list
L = ["Sang Kuriang", 10.2]
L.extend(['pop', 10])
print(L)
print(["Sang Kuriang", 10.2] + ['pop', 10])

['Sang Kuriang', 10.2, 'pop', 10]
['Sang Kuriang', 10.2, 'pop', 10]

In [8]:
# Gunakan append untuk menambahkan elemen ke dalam list
L = ["Sang Kuriang", 10.2]
L.append(['pop', 10])
print(L)

['Sang Kuriang', 10.2, ['pop', 10]]

In [9]:
# Gunakan extend untuk menambahkan elemen ke dalam list
L = ["Sang Kuriang", 10.2]
L.extend(['pop', 10])
print(L)

['Sang Kuriang', 10.2, 'pop', 10]

In [10]:
# Gunakan append untuk menambahkan elemen ke dalam list
L = ["Sang Kuriang", 10.2]
L.append(['a', 'b'])
print(L)

['Sang Kuriang', 10.2, ['a', 'b']]

In [11]:
# Ubah elemen berdasarkan indeks
A = ["keroncong", 10, 1.2]
print('Sebelum perubahan:', A)
A[0] = 'dangdut koplo'
print('Setelah perubahan:', A)

Sebelum perubahan: ['keroncong', 10, 1.2]
Setelah perubahan: ['dangdut koplo', 10, 1.2]

In [12]:
# Hapus elemen berdasarkan indeks
print('Sebelum perubahan:', A)
del A[0]
print('Setelah perubahan:', A)

Sebelum perubahan: ['dangdut koplo', 10, 1.2]
Setelah perubahan: [10, 1.2]

In [13]:
# Ubah string menjadi list menggunakan split. Defaultnya adalah dengan spasi
print('dangdut koplo'.split())

['dangdut', 'koplo']

In [14]:
# Pisahkan string menggunakan tanda koma
print('A,B,C,D'.split(','))

['A', 'B', 'C', 'D']

In [15]:
# Salin list A (salin dengan referensi)
A = ["dangdut koplo", 10, 1.2]
B = A.copy()
print('A:', A)
print('B:', B)

A: ['dangdut koplo', 10, 1.2]
B: ['dangdut koplo', 10, 1.2]

In [16]:
# Periksa salinan dengan referensi
print('B[0]:', B[0])
A[0] = "tempe"
print('B[0]:', B[0])

B[0]: dangdut koplo
B[0]: dangdut koplo

In [17]:
# Klone list A (kloning dengan nilai)
B = A[:]
print('B[0]:', B[0])
A[0] = "dangdut koplo"
print('B[0]:', B[0])

B[0]: tempe
B[0]: tempe

In [18]:
# Tampilkan a_list
a_list = [1, 'halo', [1, 2, 3], True]
print(a_list)

[1, 'halo', [1, 2, 3], True]

In [19]:
# Temukan nilai yang disimpan pada indeks 1 dari a_list
print(a_list[1])

halo

In [20]:
# Dapatkan elemen yang disimpan pada indeks 1, 2, dan 3 dari a_list
print(a_list[1:4])

['halo', [1, 2, 3], True]

In [21]:
# Gabungkan list A = [1, 'a'] dan B = [2, 1, 'd']
A = [1, 'a']
B = [2, 1, 'd']
A.extend(B)
print(A)

[1, 'a', 2, 1, 'd']